

<div class="flex-container">
  <button mat-mini-fab color="primary" routerLink="/produto/lista-produto">
    <mat-icon>
      arrow_left
    </mat-icon>
  </button>

  <mat-card class="form">
    <form action="" id="main-form" [formGroup]="formulario">
      <h1>Atualizar dados</h1>
      <mat-form-field appearance="outline">
        <mat-label>Nome do Produto</mat-label>
        <input type="text" matInput formControlName="nome" name="nome" [(ngModel)]="produto.nome">
        <mat-error>
          Este campo é obrigatório
        </mat-error>
      </mat-form-field>

      





      <button class="btn" (click)="editarProduto()" mat-raised-button color="primary" type="submit" style="margin-top: 10px;"
        [disabled]="false">Atualizar</button>
      <button class="btn" mat-raised-button color="warn" style="margin-top: 10px;" type="button"
        routerLink="/produto/lista-produto">Cancelar</button>

    </form>
  </mat-card>
</div>
